VITE_SUPABASE_URL=https://uswhxvleturtthwzetfs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVzd2h4dmxldHVydHRod3pldGZzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0NzMxMjQsImV4cCI6MjA5MTA0OTEyNH0.-L_-lej35wqckDwCqrhB1CIwg7eGGjdxg8fnDBZ1m9Y
